<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>비밀번호 변경 메일</title>
</head>
<body style="margin: 0; padding: 45px 48px">
  <table>
    <tr>
      <td style="display: flex; padding: 20px 0 30px">
        <img src="https://ifh.cc/g/8Naj3K.png" style="margin-right: 10px; width: 342px; height: 47px" />
      </td>
    </tr>
    <tr>
      <td
              style="
                    text-align: center;
                    height: 35px;
                    border-radius: 10px;
                    background: #0c75ec;
                    font-size: 10px;
                  "
      >
        <a href="{LINK}" style="text-decoration: none">
          <div style="color: #ffffff">비밀번호 변경 메일 인증하기</div>
        </a>
      </td>
    </tr>
    <tr>
      <td style="height: 30px; font-size: 10px; padding-top: 30px">
        <p style="margin: 0">5분내로 메일 인증을 해야 합니다.</p>
        <p style="margin: 0">만약 5분이 지나면 다시 비밀번호 변경 절차를 진행해야합니다.</p>
      </td>
    </tr>
  </table>
</body>
</html>